.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body,
html {
  height: 100%;
}

h1, h4 {
  font-family: 'Great Vibes';
}

body {
  background-color: #5D5D5D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  /* display: flex; */
  -webkit-box-align: center;
  /* align-items: center; */
  -webkit-box-pack: center;
  /* justify-content: center; */
}

.counter {
  text-align: center;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  background-color: #5D5D5D;
}

.entry {
  text-align: center;
  padding: 5px;
}
.entry .entry-value {
  position: relative;
  height: 95px;
  -webkit-perspective: 200px;
  perspective: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  margin: 0 auto;
}
.entry .entry-title {
  min-width: 80px;
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
}

.count {
  background-color: #202020;
  color: #fff;
  display: block;
  font-size: 2em;
  line-height: 2.4em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.count.top {
  height: 50%;
  line-height: 95px;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.count.bottom {
  line-height: 0;
  height: 50%;
  top: 50%;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.count.flipTop {
  -webkit-animation-name: flipTop;
  animation-name: flipTop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
}
.count.flipBottom {
  -webkit-animation-name: flipBottom;
  animation-name: flipBottom;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 1;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

@-webkit-keyframes flipTop {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}

@keyframes flipTop {
  from {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes flipBottom {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes flipBottom {
  from {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
